<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class ="flex-container">
            {{>header}}
            <p>{{description}}</p>
        </div>
        {{>footer}}
    </body>
</html>