<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content=" width=device-width, initial-scale=1.0" />
        <title>HK Weather</title>
        <link rel="icon" href="img/weather-icon.svg">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="flex-container">
        {{>header}}
        <p>View weather for any location</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
            <p id="msg1"></p>
            <p id="msg2"></p>
        </form>
        </div>

        {{>footer}}

        <script src="js/app.js"></script>
    </body>
</html>